.Navbar {

background-color: rgba(241, 240, 230, 0.7);
font-family: 'Balthazar', serif;
font-size: 50px;
padding-left: 15px;




}


.btn.btn-secondary {

background-color: rgba(52, 73, 94, 1);
border-color:rgba(52, 73, 94, 1);

      
}

.btn.btn.btn-secondary:hover {

    background-color: rgba(58, 83, 155, 1)

}