/* form{
    background-color: white;
    width: 300px;
    padding: 20px 20px 20px 5px;
    border-radius: 2em;
    opacity: 0.6;
  
  }
  
  a{
  font-size: 10px;
  margin: 10px;
  color: rgb(255, 0, 0);
  cursor: pointer;
  user-select: none;
  text-decoration-line: underline;
  
  }
  
  button{
    margin: 20px;
    padding: 3px 10px 3px 10px;
    border-radius: 3em;
  } */